.content1{
  background-color: #fff1f1;
  box-shadow: 1px 2px 2px #c9b6b6;
  width: 100%;
}
.container {
    width: 100%;
    max-width: 800px; 
  }
  
  .flexContainer {
    display: flex;
    padding: 5px;
    justify-content: space-between;
  }
  
  .barber {
    width: 512px; 
    height: 412px;
    border-radius: 10px;
    margin-right: 350px;
  }
  
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px; 

  }

  .aboutwe {
    display: flex;
    align-items: center; 
    font-size: 36px;
    font-family: "Inter Tight", sans-serif;
    font-weight: 300;    
  }
  
  .line{
    border: 1px solid #cc7272;
    box-shadow: 0 10px 10px;
    width: 20vw;
    height: 0;
    margin: 5px;
  }
  
  .about {
    margin-top: 15px;
    color: black;
    font-size: 25px;
    max-width: 750px;
    text-align: justify;
    width: 400px;
    height: auto;
  }
  
  @media(max-width: 750px) {
    .flexContainer {
      flex-direction: column; 
      align-items: center; 
    }
  
    .barber {
      width: 100%; 
      max-width: 100%; 
      margin-right: 0;
      margin-bottom: 10px; 
    }
  
    .aboutwe {
      font-size: 26px; 
    }
  
    .line {
      width: 50%; 
    }
  
    .about {
      font-size: 16px; 
      width: 90%;
      max-width: none; 
    }
  }
