.button_confirm {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.agendamento1 {
    display: flex;
    max-width: 400px;
    max-height: 300px;
    overflow: scroll;
}

.confirm_hour {
    display: flex;
    justify-content: center;
    margin: 5px;
}

.nameAndSurname {
    margin: 5px;
}

.date,
.hour {
    color: black;
}

/* Adicionando regra de mídia para dispositivos com largura menor que 600px */
@media (max-width: 600px) {
    .button_confirm {
        margin-top: 10px; 
        height: auto;
    }

    .agendamento1 {
        max-width: 100%; 
        overflow: scroll;
    }

    .confirm_hour,
    .nameAndSurname {
        margin: 0; 
    }

    .confirm_hour {
        justify-content: flex-start; 
    }
}

.react-calendar__tile--now {
    background-color: #4CAF50; /* Cor de fundo do dia atual */
    color: white; /* Cor do texto */
    border-radius: 50%; /* Deixa a célula redonda */
  }
  