.button_confirm {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.agendamento1 {
    display: flex;
    max-width: 400px;
    max-height: 300px;
    overflow: scroll;
}

.confirm_hour {
    display: flex;
    justify-content: center;
    margin: 5px;
}

.nameAndSurname {
    margin: 5px;
}

.date,
.hour {
    color: black;
}

/* Adicionando regra de mídia para dispositivos com largura menor que 600px */
@media (max-width: 600px) {
    .button_confirm {
        margin-top: 10px; 
    }

    .agendamento1 {
        max-width: 100%; 
    }

    .confirm_hour,
    .nameAndSurname {
        margin: 0; 
    }

    .confirm_hour {
        justify-content: flex-start; 
    }
}
