*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}

.swal2-container {
  z-index: 09999999999; /* Defina um valor alto para garantir que o SweetAlert seja exibido acima de outros elementos */
}
